@using Duels.Domain.Entities

<div class="npc-card">
    @if (Npc is not null)
    {
        <div class="npc-name">@Npc.Template.Name</div>
        <div class="hp-bar-wrap npc-hp-wrap">
            <div class="hp-bar npc-hp-bar" style="width: @HpPercent%"></div>
        </div>
        <div class="npc-hp-text">@Npc.CurrentHp / @Npc.MaxHp HP</div>
    }
</div>

@code {
    [Parameter] public NpcInstance? Npc { get; set; }

    private int HpPercent => Npc is null || Npc.MaxHp == 0
        ? 0
        : (int)(Npc.CurrentHp * 100.0 / Npc.MaxHp);
}
